body {
    background-color: black;
    text-align: center;
}

h1,
h2 {
    margin: 0;
    padding: 3px;
}

.container {
    display: inline-flex;
    width: 1080px;
    height: 720px;
    background: gold url("../img/wood.jpg") no-repeat center;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* startScreen styles */
.start {
    background-color: blue;
    color: white;
}
.game-title {
    font-size: 10em;
    margin-top: 200px;
}

.start-button {
    background-color: darkblue;
    color: white;
    width: 200px;
    height: 75px;
    margin: 0 300px;
    border: solid 5px white;
    border-radius: 20%;
}

.how-to {
    color: white;
    font-size: 2em;
    margin:  0 100px;
}

/* characterSelect and nameEntry styles */

.player-select-title {
    margin: 20px 100px 0;
    font-size: 2em;
    color: black;
}

.name-input {
    display: flex;
    margin-top: -100px;
    height: 100px;
    width: 500px;;
    box-shadow: 10px 10px 10px black;
    font-size: 3em;
    background-color: beige;
    text-align: center;
}

.char-container {
    display: flex;
    background-color: transparent;
    margin: -50px 50px;
    width: 700px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.character {
     margin-top: 10px;
    display: flex;
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 10px black;
    background-color: beige;
    justify-content: center;
}

/* gameboard styles */
.title {
    font-size: 3em;
    padding: 0;
}
.player-div {
    display: inline-flex;
    width: 250px;
    height: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.player-name {
    display: inline-block;
    margin: 3px;
    font-size: 4em;
}

.player-icon {
    margin-top: 10px;
    display: flex;
    height: 100px;
    width: 100px;
    box-shadow: 10px 10px 10px black;
    background-color: beige;
    justify-content: center;
}

.scores {
    display: flex;
    height: 75px;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.scorecard-link {
    margin: 0 50px;
    font-size: 2em;
}

.roll-btn {
    background-color: goldenrod;
    color: white;
    margin: 0 300px;
    font-size: 3em;
    width: 200px;
    height: 75px;
    border-radius: 5%;
    border: none;
    box-shadow: 10px 10px 10px black;
}

.dice {
    display: flex;
    width: 680px;
    height: 130px;
    justify-content: space-evenly;
}

.dye {
    width: 100px;
    height: 100px;
    border-radius: 16%;
    box-shadow: 10px 10px 10px black;
    background-color: white;
}

/* Scorecard styles */
.scorecard-container {
  display: flex;
  position: absolute;
  top: 58px;
  left: 314px;
  width: 1080px;
  height: 720px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}
.scorecard {
    display: flex;
    margin-top: 50px;
    height: 600px;
    width: 400px;
    background-color: blanchedalmond;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 10px goldenrod;
    box-shadow: 10px 10px 10px black;
}


.scoreline {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    width: 350px;
    height: 30px;
    justify-content: space-between;
    background-color: goldenrod;
}

.score-title {
    display: flex;
    font-size: 1.5em;
    margin-left: 5px;
}

.score-input {
    display: flex;
    background-color: white;
    margin-top: 4px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;   
}

.total {
    border: solid 2px black;
    margin-right: 28px;
}

.checkbox {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.dice-scorecard {
    display: flex;
    width: 350px;
    height: 30px;
    justify-content: space-evenly;
}

.dye-scorecard {
    width: 30px;
    height: 30px;
    border-radius: 16%;
    box-shadow: 3px 3px 3px black;
    background-color: white;
}

.save-button {
    margin: 20px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10%;
    background-color: goldenrod;
    font-size: 1em;
    font-style: italic;
    border: none;
}